<h1>Sample App</h1>
<p>
  This is the home page for the 
  <a href="http://railstutorial.org"/> Ruby on Rails Tutorial</a>
  sample application.
</p>
<%= form_tag("about", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
